@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Press Start 2P", system-ui;
    font-weight: 100;
    font-style: normal;
}
    
.hero-main{
    font-size: 48px;
    font-weight: bolder;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #f9faf8;
}

.header{
    display: flex;
    background-color: gold;
    justify-content: space-between;
    align-items: center;
    color: #E5E7EB;
    font-size: 18px;
}

.navbar {
    flex: auto;
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    padding-right: 20px;
}

.description{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.about-us{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 50px 300px;
    background-color: #1F2937;
    color: #f9faf8;
    gap: 100px;
}

.app-container {
    padding: 50px 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    
}

.thumbnails-container{
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    padding-left: 100px;
}

.thumbnail {
    border-radius: 20%;
    width: 200px;
    height: 200px;
}

.testimonial-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    padding: 100px;
}

.customer-text {
    font-style: italic;
    color: #1F2937;
}


.download {
    flex-shrink: 0;
    width: 200px;
    height: 50px;
    border-radius: 15px;
    padding: 10px;
    background-color: #3882f6 ;
    color: white;
    border-color: white;
}

.login-container {
    display: flex;
    background: white;
    align-items: center;
    justify-items: center;
}

.mini-login-container {
    background-color: #3882f6 ;
    display: flex;
    flex: auto;
    gap: 400px;
    padding: 50px 100px;
    margin: 100px;
    border-radius: 15px;
    color: white;
}

.info-header{
    font-size: 36px;
    font-weight: "extra-bold";
    color: white;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1F2937;
    color: white;
    padding: 30px;
}

.text{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
