@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Press Start 2P", system-ui;
    font-weight: 100;
    font-style: normal;
}
    
  
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
}

.header{
    display: flex;
    background-color: gold;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    flex: auto;
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    padding-right: 20px;
}